@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Rubik:wght@400;500;700&display=swap");

:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --dark-violet: hsl(271, 15%, 43%);
  --very-darkV: hsl(271, 36%, 24%);
  --grayish-violet: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --light-grayish: hsl(270, 20%, 96%);
  --light-magenta: hsl(289, 100%, 72%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.bg-violet {
  width: 37.5%;
  height: 90vh;
  background-image: linear-gradient(var(--light-magenta), var(--light-violet));
  border-radius: 0 0 60rem 60rem;
  margin-left: -10rem;
}

.phone {
  width: 100%;
  max-width: 31.5rem;
  height: 62.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--light-grayish);
  margin: 12vh 0 0 -8rem;
  border: 1.5rem solid var(--white);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--light-grayish);
  width: 100%;
  max-width: 28.5rem;
  height: 59.5rem;
  border: var(--white);
  border-radius: 3rem;
}

.container {
  display: flex;
  /* flex: 1; */
}

.top {
  background-image: linear-gradient(
    to left,
    var(--light-magenta),
    var(--light-violet)
  );
  width: 100%;
  max-width: 28.5rem;
  height: 8rem;
  border-radius: 3rem 3rem 0.75rem 0.75rem;
  margin-bottom: 1.5rem;
}

.top-top {
  width: 100%;
  max-width: 15rem;
  height: 2.5rem;
  background-color: var(--white);
  margin: auto;
  border-radius: 0 0 2rem 2rem;
}

.person {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  margin-top: 1rem;
  color: var(--white);
}

.person .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person .left img {
  width: 3rem;
  border-radius: 50%;
  border: 0.15rem solid var(--white);
  margin: 0 0.9rem;
}

.person i {
  font-size: 1.5rem;
  opacity: 0.8;
}

.person .name h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  letter-spacing: 0.05rem;
}

.person .name p {
  opacity: 0.5;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}

.text-left {
  font-size: 0.95rem;
  color: rgb(192, 108, 192);
  width: 100%;
  max-width: 15.5rem;
  padding: 0.75rem;
  background-color: rgb(242, 229, 242);
  margin: 1rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0.5rem;
  line-height: 1.35rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-left h4 {
  opacity: 0.8;
}

.dogs {
  display: flex;
  justify-content: flex-end;
}

.dogs img {
  width: 5rem;
  border-radius: 1rem;
  margin: 1rem 1rem 0 0;
}

.text-right {
  margin: 1rem;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
}

.long .empty {
  width: 15.5rem;
}

.short .empty {
  width: 17rem;
}

.text-right h4 {
  padding: 0.75rem;
  border-radius: 1.25rem 1.25rem 0.5rem 1.25rem;
  opacity: 0.5;
  line-height: 1.35rem;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-image: linear-gradient(
    to right,
    var(--light-magenta),
    var(--light-violet)
  );
  width: 100%;
  max-width: 20rem;
  padding: 1.25rem 1.75rem 1.25rem 1.25rem;
}

.price .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price .left p {
  font-size: 0.95rem;
  opacity: 0.7;
}

.price .left i {
  margin-right: 1rem;
  font-size: 1.5rem;
  opacity: 0.2;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  max-width: 26.5rem;
  margin: 2rem auto;
  font-size: 1.1rem;
  padding: 0.9rem 0.5rem 0.9rem 2.5rem;
  border-radius: 2rem;
}

.bottom p {
  opacity: 0.4;
}

.bottom i {
  font-size: 2.75rem;
}

.container .text {
  display: flex;
  align-items: center;
  z-index: 3;
}

.container .text .block-text {
  width: 100%;
  max-width: 62rem;
  margin-left: 15rem;
  margin-right: -10rem;
}

.container .text .block-text h1 {
  font-size: 5.2rem;
  font-weight: 500;
  color: var(--very-darkV);
}

.container .text .block-text p {
  font-size: 2.2rem;
  margin-top: 3.5rem;
  opacity: 0.4;
  line-height: 3.2rem;
}

.bg-light {
  width: 27.5%;
  height: 90vh;
  /* background-color: var(--light-grayish); */
  background-image: linear-gradient(var(--light-grayish), var(--light-grayish));
  border-radius: 60rem 60rem 0 0;
  /* margin-top: 10vh; */
  margin-right: -10rem;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 376px) {
  body {
    overflow: auto;
  }
  .container {
    flex-direction: column;
  }

  .container .text .block-text {
    text-align: center;
    margin: 3rem auto;
  }
  .container .text .block-text h1 {
    font-size: 3.5rem;
  }

  .container .text .block-text p {
    font-size: 1.7rem;
    padding: 0 8%;
    line-height: 2.5rem;
  }

  .bg-violet {
    min-width: 30rem;
  }

  .phone {
    margin: -56rem auto 0;
  }

  .bg-light {
    display: none;
  }
}
